.btn-default {
    font-weight: 400;
    font-size: 0.75rem !important;
    font-family: "Roboto";
    max-width: 90px;
    background-color: #00857a;
    color: #fff !important;
    text-align: center;
    font-size: 14px;    
  }
  .btn {
    font-size: 0.75rem !important;
  }
